@import url('https://fonts.googleapis.com/css2?family=poppins:wgth@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #081b29;
    text-decoration: none;
    
}

.header {
    position: fixed;
    width: 100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
}
.header a:hover{
    color: #00abf0;
}

.logo {
    font-size: 25px;
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #00abf0;
}

.page1{
    display: flex;
     /* background-image: url('tof2.jpg') no-repeat;  */
     background-size: cover;
     background-position: center;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #081b29;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 20px;
    margin: 20px 0 40px;
    color: black;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
   
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #061118;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover {
    color: #061118;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #061118;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}
.home-web {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-web a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid;
    color: #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.home-web a:hover {
    color: #061118;
}
.home-web a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;

}

.home-web a:hover::before {
    width: 100%;

}
/* partie à propos de moi */


/* partie projet */
#projets button{
    margin-left: 5%;
  } 
  #projets .titre{
    border: 5px solid rgb(10, 10, 10);
    width: 50%;
    margin-left: 25%;
    margin-right: 10%;
    text-align: center;
    height: 100px;
    padding-top: 1%;
  }
  #projets h1{
    font-size: 50px;
    margin-top: 0;
    color: black;
  }
  #projets p{
    color: #fff;
  }

  /* Partie cv */
  #ExP *{
    margin: 0;
    box-sizing: border-box;
    }
   #ExP strong{
        color: #0c5285;
    }
    #ExP .strong1{
      color: darkcyan;
    }
    #ExP img{
        max-width: 100px;
    }
    #ExP progress{
        width: 50%;
        margin-left: 30%;
        background-color: rgb(15, 49, 49);
        height: 20px;
        display: block;
    }

    #ExP .figure{
        flex: 0 1 50%;
         display: flex;
          flex-flow: column wrap;
           align-items: center;
            margin-bottom: 20px;
    }

    
